.app-logo {
  animation: app-logo-spin infinite 60s linear;
  height: 60px;
  vertical-align: middle;
}

.app-header {
  background-color: #222;
  height: 100px;
  color: white;
  line-height: 100px;
}

.app-header a {
  float: right;
  margin-right: 24px;
}

.app-content {
  margin: 20px;
}

.cp, .sketch-picker {
  margin-top: 6px;
}

.palette {
  border: 1px solid #ccc;
}

.result {
  margin-top: 8px;
  font-family: monospace;
  font-size: 0.8em;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
