.App-logo {
  animation: App-logo-spin infinite 60s linear;
  height: 20px;
  vertical-align: middle;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

.App-content {
  margin: 20px;
}

.cp, .sketch-picker {
  margin-top: 6px;
}

.palette {
  border: 1px solid #ccc;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
